In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [4]:
df=pd.read_csv('data set.csv')

In [5]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [6]:
df.head()

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82

In [7]:
df.speed

0    200
1     90
2    165
3    110
4    140
5    115
Name: speed, dtype: int64

In [8]:
df.risk

0    85
1    20
2    93
3    60
4    82
5    10
Name: risk, dtype: int64

In [9]:
df.car_age

0    15
1    17
2    12
3    20
4     5
5     2
Name: car_age, dtype: int64

In [10]:
df.experience

0     5.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
Name: experience, dtype: float64

In [14]:
experiment_fit=df.experience.median()

In [15]:
experiment_fit

5.0

In [17]:
df.experience=df.experience.fillna(experiment_fit)

In [18]:
df.experience

0     5.0
1    13.0
2     4.0
3     5.0
4     3.0
5     8.0
Name: experience, dtype: float64

In [19]:
df.head()

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82

In [20]:
reg=linear_model.LinearRegression()

In [21]:
reg.fit(df[['speed','car_age','experience']],df.risk)

LinearRegression()

In [24]:
reg.predict([[160,10,5]])

C:\Users\User\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([71.37146872])

In [25]:
reg.coef_

array([ 0.33059217,  1.61053246, -6.20772074])